body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

label {
    font-weight: 500;
}

.navbar-custom {
    width: 100%;
    margin: 20px auto;
    border-radius: 30px;
}

.card {
    border: none;
    border-radius: 20px;
}
.card-header:first-child {
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
}

.modal-header {
    background-color: #ffffff;
}

.modal-dialog {
    width: 800px;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
}

.modal-content {
    border: none;
    border-radius: 20px;
}

.btn {
    font-size: 12px;
    border-radius: 20px;
}

.modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}

.modal-content {
    height: auto;
    max-height: calc(100vh - 3.5rem);
    overflow-y: auto;
}

.modal-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}