body {
    padding: 0;
    margin: 0;
    background-color: #F5F7FA;
}

label {
    font-weight: 500;
}

.navbar-custom {
    width: 100%;
    margin: 20px auto;
    border-radius: 30px;
}

.card {
    min-height: 500px;
    border: none;
    border-radius: 20px;
}
.card-header:first-child {
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
}

.btn {
    font-size: 12px;
    border-radius: 20px;
}

.modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
}

.modal-content {
    height: auto;
    max-height: calc(100vh - 3.5rem);
    overflow-y: auto;
    border: none;
    border-radius: 20px;
}

.modal-header {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}